@model moonsiteHouseholdeManeger.Core.ViewModels.RecieptFormViewModel
@using moonsiteHouseholdeManeger.Core.Controllers
@{ 
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@using (Html.BeginUmbracoForm<RecieptController>("HandleRecieptForm"))
{

    <div class="form-group">
        <label for="nameOfTenent" class="form-label">Name of Tenent</label>
        <input type="text" class="form-control" id="nameOfTenent" name="NameOfTenent" value="@Model.NameOfTenent">
        @Html.ValidationMessageFor(m => m.NameOfTenent, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="apartment" class="form-label">Apartment</label>
        <select class="form-select" id="apartment" name="Apartment" aria-label="Apartments">
            <option value="">Select apartment</option>
            <option value="1" @(Model.Apartment == 1 ? "selected" : "")>1</option>
            <option value="2" @(Model.Apartment == 2 ? "selected" : "")>2</option>
            <option value="3" @(Model.Apartment == 3 ? "selected" : "")>3</option>
        </select>
        @Html.ValidationMessageFor(m => m.Apartment, "", new { @class = "text-danger" })
    </div>

    <div class="form-group form-check">
        <label for="monthes" class="form-label">Payment Month</label>
        <br />

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="january" name="Monthes" value="january" )>
            <label class="form-check-label" for="january">january</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="febuary" name="Monthes" value="febuary" )>
            <label class="form-check-label" for="febuary">febuary</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="martch" name="Monthes" value="martch" )>
            <label class="form-check-label" for="martch">martch</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="april" name="Monthes" value="april" )>
            <label class="form-check-label" for="april">april</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="may" name="Monthes" value="may" )>
            <label class="form-check-label" for="may">may</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="june" name="Monthes" value="june" )>
            <label class="form-check-label" for="june">june</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="july" name="Monthes" value="july" )>
            <label class="form-check-label" for="july">july</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="august" name="Monthes" value="august" )>
            <label class="form-check-label" for="august">august</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="september" name="Monthes" value="september" )>
            <label class="form-check-label" for="september">september</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="october" name="Monthes" value="october" )>
            <label class="form-check-label" for="october">october</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="november" name="Monthes" value="november" )>
            <label class="form-check-label" for="november">november</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="december" name="Monthes" value="december" )>
            <label class="form-check-label" for="december">december</label>
        </div>
        @Html.ValidationMessageFor(m => m.Monthes, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="paymentMethod" class="form-label">Paymont Method</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="PaymentMethod" id="creditCard" value="creditCard" checked>
            <label class="form-check-label" for="creditCard">
                Creditcard
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="PaymentMethod" id="cash" value="cash" )>
            <label class="form-check-label" for="cash">
                Cash
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="PaymentMethod" id="check" value="check" )>
            <label class="form-check-label" for="check">
                check
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.PaymentMethod, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="paymentAmount" class="form-label">Payment Amount</label>
        <input type="number" class="form-control" id="paymentAmount" name="PaymentAmount" value="@Model.PaymentAmount">
        @Html.ValidationMessageFor(m => m.PaymentAmount, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-primary">Save</button>

    </div>
}

